.img {
    width: 45%;
    height: auto; 
    margin-top: 35px; 
    padding-bottom: 30px;
}

.back-nav {
    background-color: black;
}

.navbar {
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.custom-div {
    display: flex;
    justify-content: center;
    align-content: space-between;
    list-style: none;
    margin-top: 70px;
    margin-bottom: 70px;
    border-top: 1px solid rgb(74, 73, 73);
    border-bottom: 1px solid rgb(74, 73, 73);
    justify-content: space-between;
}

.link-home,
.link-starship {
    border: 1px solid rgb(74, 73, 73);
    padding: 20px 40px;
    border-top: none;
    border-bottom: none;
    cursor: pointer; 
    display: inline-block; 
}

.link-home:hover,
.link-starship:hover {
    background-color: rgb(73, 73, 73); 
}

a {
    text-decoration: none; 
    color: white; 
}

.buttons-container {
    position: absolute;
    top: 10px; 
    right: 20px; 
}

.welcome {
    color: rgb(250, 252, 253);
    padding: 50px;
    font-size: large;
}
